/* CSSReset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}main,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* Style
-----------------------------------------------------*/
body {
  background: #1E1E1E;
}

main {
  width: 90000px;
  min-height: 886px;
  position: absolute;
  top: 76px;
  left: 0; right: 0;
  bottom: 194px;
}

.scroll-container {
  width: 4272px;
  height: 100%;
  position: absolute;
  top: 0; left: -1050px;
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  z-index: 1;
}


.feed-col {
  width: 390px;
  margin-right: 30px;
  display: block;
  float: left;
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  z-index: 1;
}

.feed-col:first-of-type {
  /*padding-left: 72px;*/
}

.animated {
  -moz-animation: slideshow 20s linear infinite;
  -webkit-animation: slideshow 20s linear infinite;
  animation: slideshow 20s linear infinite;
}


li, li img {
  width: 390px; height: 390px;
}

li {
  display: block;
  border: 1px solid #000;
  box-shadow: 0 2px 10px rgba(0,0,0,.50);
}

li:first-of-type + li {
  margin-top: 30px;
}


footer {
  height: 64px;
  position: absolute;
  left: 72px;
  bottom: 52px;
  color: rgba(255,255,255,.4);
  font-size: 36px;
  font-family: 'Gotham Narrow';
  font-weight: thin;
  font-family: 'GothamNarrow-Thin';
  line-height: 64px;
  padding-left: 80px;
  background: url('img/instagram/instagram@2x.png') 0 0 no-repeat;
  background-size: 64px 64px;
  cursor: default;
  z-index: 10;
  user-select: none;
}

footer strong {
  /*font-weight: light;*/
  font-family: 'GothamNarrow-Light';
}



/* Media Queries
-----------------------------------------------------*/



/* Animation
-----------------------------------------------------*/
/*@-webkit-keyframes slideshow {
  0% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(-1916px); }
}

@-moz-keyframes slideshow {
  0% { -moz-transform: translateX(0); }
  100% { -moz-transform: translateX(-1916px); }
}

@keyframes slideshow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-1916px); }
}*/